:host {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
        max-height: 3em;
        margin-right: 1em;
    }
}

.status {
    display: flex;
    flex-direction: column;
}

#validateActions {
    margin-left: 12px;
}
