/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: no-repeat url("/assets/background/sky.jpg");
    user-select: none;
    touch-action: none;
    & > h1 {
        color: white;
    }
}


