:host {
    width: 100%;
    height: 100%;
}

.position {
    position: absolute;
    color: cornsilk;
    font-size: 10px;
    left: 2px;
    top: 2px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    $safe-color: #4CAF50;
    &.safe {
        background-color: $safe-color;
        cursor: pointer;
    }
    &.safe.selected, &.weakened.selected {
        background-color: lighten($safe-color, 30%);
    }
    &.safe:not(.selected):hover, &.weakened:not(.selected):hover {
        background-color: lighten($safe-color, 25%);
        transition: background-color 120ms ease-in;
    }
    &.weakened {
        background-color: scale-color($safe-color, $lightness: -30%);
        cursor: pointer;
    }
    &.collapsed {
        background-color: inherit;
        cursor: not-allowed;
    }

}
